In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import mysql.connector

# fill in your username
username = 'root'
passwrd ='azaritc123'
DB ='imdb'

cnx = mysql.connector.connect(user=username, password=passwrd,database= DB)
cnxc = cnx.cursor()

#Queries
movies1 = '(select movie_id from cast where actor_id in (select id from actors where full_name = "kevin bacon"))'
query = 'select distinct count(actor_id) from cast where movie_id in '
query1 = query + movies1 + '))))'
movies2 = '(select movie_id from cast where actor_id in (select actor_id from cast where movie_id in ' + movies1 + ')'
query2 = 'select distinct count(actor_id) from cast where movie_id in ' + movies2 + '))'
movies3 = '(select movie_id from cast where actor_id in (select actor_id from cast where movie_id in ' + movies2 + ')'
query3 = 'select distinct count(actor_id) from cast where movie_id in ' + movies3 + '))'
movies4 = '(select movie_id from cast where actor_id in (select actor_id from cast where movie_id in ' + movies3 + ')'
query4 = 'select distinct count(actor_id) from cast where movie_id in ' + movies4 + '))'
movies4 = '(select movie_id from cast where actor_id in (select actor_id from cast where movie_id in ' + movies2 + ')'
query5 = 'select distinct count(actor_id) from cast where movie_id in ' + movies3 + '))'

zero_degrees = 1 # kevin bacon himself

try:
    cnxc.execute(query1)
    one_degree = cnxc.fetchall()
    cnxc.execute(query2)
    two_degree = cnxc.fetchall()
    cnxc.execute(query3)
    thired_degree = cnxc.fetchall()
    cnxc.execute(query4)
    fourth_degree = cnxc.fetchall()
    cnxc.execute(query5)
    fifth_degree = cnxc.fetchall()
    cnxc.execute(query6)
    sixth_degree = cnxc.fetchall()

except:
    print "Error: unable to fecth data"

print(one_degree)
print(two_degree)
print(thired_degree)
print(fourth_degree)
print(fifth_degree)
print(sixth_degree)

cnx.close()

Error: unable to fecth data

NameError: name 'one_degree' is not defined